.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #3d464d;
  height: 100px;
  padding: 20px;
  color:#FF9800;
}

.App-intro {
  font-size: large;
}

code {
  color: #e73a37;
}