body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

.snipcart-checkout:hover {
  color: #E65100;
  text-decoration: underline;
}

.title {
  font-weight: bold;
}

.snipcart-add-item {
  background-color: #E65100;
  font-size: 18px;
  color: white;
  border: 0px;
  border-radius: 3%;
}

.snipcart-add-item:hover {
  box-shadow: 0px 3px 5px #FFE0B2;
}

.snipcart-add-item:active {
  box-shadow: 0 0 0 0;
}

.product-description {
  width: 400px;
  padding: 25px;
  margin: 25px;
  background-color: #FFE0B2;
  font-size: 20px;
}

.product-details, .product-reviews{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 35px;
}

.product:hover{
  background-color: #CFD8DC;
}